@font-face {
  font-family: 'PT-sans';
  src: url(../fonts/PTSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'PT-sans';
  src: url(../fonts/PTSans-Bold.ttf);
  font-weight: 700;
}
