:root {
  // colors
  --white: #f8f9fa;

  --grey: #999da0;
  --dark-grey: #3d4a4d;
  --light-grey: #ebecec;
  --border--light-grey: rgba(34, 60, 80, 0.2);

  --light-black: rgba(0, 0, 0, 0.7);

  --blue: #4285f4;

  // transitions
  --fast-transition: all 0.1s ease-in-out;
  --average-transition: all 0.3s ease-in-out;
}
